.button
    @include responsive(phone)
        border: none
        border-radius: 1rem
        background-color: $darkSeafoam
        margin: 2.1rem 0 1.5rem
        width: 5rem
        height: 2rem
        cursor: pointer
        outline: none
    
    &:hover
        background-color: $darkenedSeafoam
    
    &:active
        position: relative
        top: .15rem