.field
 
  &-content
    position: relative
    height: 10vh

    &-input
      @include responsive(phone)
        width: 60vw
        height: 5vh
        padding: 3.5vh 0 0
        border: none
        font-size: 2.3vh
        transition: padding .3s
        // so jj/mm/aaaa default text in date input is not visible
        background-color: transparent
        color: $contentWhite
        border-bottom: $white solid .1vh
        outline: none

      @include responsive(tab-port)
        width: 43vw
        
      @include responsive(tab-land)
        width: 23vw

      // to make datalist arrow visible
      &::-webkit-calendar-picker-indicator
        opacity: 100

      &-space
        
        &-image
          margin-top: 2.7vh

    &-label
      position: absolute
      left: 0
      top: 3.4vh
      font-size: 2.4vh
      color: $contentGray
      text-align: left
      font-size: 2.7vh

      &-space

        &-up
          font-size: 1.8vh
          text-transform: uppercase
          color: $darkSeafoam
          display: block

      &-animation
        animation: label .5s
        // with animation-fill-mode property,
        // styles are kept as such one animation
        // is done
        animation-fill-mode: forwards

@keyframes label
  0%
    transform: translateY(0)
    color: black
  100%
    transform: translateY(-2vh)
    color: $darkSeafoam