.footer
    @include responsive('phone')
        display: none

    @include responsive('tab-land')
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 8rem
        background-color: $backgroundHeaderFooterGray