.home
    @include responsive(phone)
        background-color: $headerNavGray
        position: absolute
        bottom: 0
        top: 5rem
        width: 100%

    @include responsive(tab-land)
        top: 7rem