// fonts
$logo: 'Montserrat Alternates', sans-serif
$content: 'Nunito', sans-serif

// colors
$seafoam: #85cfcb
$darkSeafoam: #219897
$darkenedSeafoam: darken($darkSeafoam, 15%)
$white: #ffffff
$contentWhite: darken($white, 20%)
$backgroundHeaderFooterGray: #424141
$backgroundContentGray: darken($backgroundHeaderFooterGray, 6%)
$contentGray: lighten($backgroundHeaderFooterGray, 20%)
$darkContentGray: darken($contentGray, 10%)
$grayHover: rgba(88, 94, 94, 0.5)