.accept

    &-space

        &-button
            @include responsive(phone)
                border-radius: 2.9vh
                margin: .8vh 0
                width: 26vw
                height: 7vh
                font-size: 2.5vh

            @include responsive(tab-port)
                width: 18vw
            
            @include responsive(tab-land)
                margin: 2.8vh 0
                width: 17vw
                height: 8vh
            