html
    @include responsive(phone)
        overflow-y: scroll
        height: 100%

    @include responsive(tab-land)
        min-height: 100%
        position: relative

body
    margin: 0
    background-color: $backgroundContentGray
    color: $contentWhite
    height: 100%

#app
    font-family: $content
    height: 100%

.content
    
    &-container
        @include responsive(phone)
            background-color: $backgroundContentGray
            width: 100%
            padding: 15vh 0
            display: flex
            font-size: 3vh
            
        @include responsive(tab-land)
            padding: 17vh 0 25vh

        &-unlogged
            @include responsive(phone)
                justify-content: center
                flex-direction: column
                text-align: center
        
        &-logged
            @include responsive(phone)
                flex-direction: column
                width: 95%
                margin: 0 auto

                &-middle
                    display: flex
                    flex-direction: column
                    align-items: center
                    text-align: center

        &-loggedtitle
            @include responsive(phone)
                text-align: center
                font-size: 4.2vh
                margin: 8vh 0 2.5vh
            
            @include responsive(tab-land)
                font-size: 4vh
                margin: 7.5vh 0 4vh

    &-link

        &:hover, &:active, &:visited
            color: $darkSeafoam

    &-joining
    
        &-paragraph

            @include responsive(phone)
                margin: .7vh 0
                font-size: 2.7vh

            @include responsive(tab-land)
                margin: .7vh 0
                font-size: 2.9vh

            &-top
                @include responsive(phone)
                    margin-top: 5vh

                @include responsive(tab-land)
                    margin-top: 5vh

            &-bottom
                @include responsive(phone)
                    margin-bottom: 6vw

                @include responsive(tab-land)
                    margin-bottom: 2.5vh
    
    