html
    @include responsive(phone)
        overflow-y: scroll

    @include responsive(tab-land)
        min-height: 100%
        position: relative

body
    margin: 0
    background-color: $backgroundContentGray
    color: $contentWhite

#app
    font-family: $content

.content
    
    &-container
        @include responsive(phone)
            background-color: $backgroundContentGray
            width: 100%
            padding: 6rem 0
            display: flex
            font-size: 1.3em
            
        @include responsive(tab-land)
            padding: 7rem 0 10rem

        &-unlogged
            @include responsive(phone)
                justify-content: center
                flex-direction: column
                text-align: center
        
        &-logged
            @include responsive(phone)
                flex-direction: column
                width: 95%
                margin: 0 auto

                &-middle
                    display: flex
                    flex-direction: column
                    align-items: center
                    text-align: center

        &-loggedtitle
            @include responsive(phone)
                text-align: center
                font-size: 1.5rem
                margin: 2rem 0 1.7rem
            
            @include responsive(tab-land)
                font-size: 2rem
                margin: 2.5rem 0 1.5rem
        
    &-paragraph
        margin: 0

    &-link

        &:hover, &:active, &:visited
            color: $darkSeafoam
    
    