.home

    &-concept
        @include responsive(phone)
            width: 53vw
            margin: 12vh auto 0
            padding-bottom: 10vh
            font-size: 3.3vh
            line-height: 4.2vh

        @include responsive(tab-land)
            width: 60vw
            margin: 18vh auto 0
            font-size: 2.9vh
            line-height: 4vh

        &-end
            color: $darkSeafoam
    
    &-form

        &-link
            @include responsive(phone)
                font-size: 2.2vh

            @include responsive(tab-land)
                font-size: 2.4vh
        
            &-register
                margin-bottom: 1.7vh
        
            &-a
                text-decoration: underline
                cursor: pointer
                color: $darkSeafoam
                
                &:hover
                    color: $seafoam

                @include responsive (phone)
                    font-size: 2.4vh
                
                @include responsive (tab-land)
                    font-size: 2.1vh
                
                

                

            
