.send

    &-form
        @include responsive(phone)
            margin-top: 3.7vh
        &-input
            @include responsive(phone)
                width: 61vw
        
            @include responsive(tab-land)
                width: 37vw

        &-textarea
            text-align: left

            &-title
                @include responsive(phone)
                    font-size: 2.7vh
                
                @include responsive(tab-land)
                    font-size: 3vh

            &-textarea
                @include responsive(phone)
                    border: none
                    border-radius: 2.2vh
                    padding: 1.8vh
                    width: 59vw
                    height: 25vh
                    resize: none
                    outline: none
                    overflow: auto

                @include responsive(tab-land)
                    width: 35vw
                    padding: 2.5vh
    
        &-button
            @include responsive(phone)
                border-radius: 3vh
                margin: 4vh 0
                width: 33vw
                height: 9vh
                font-size: 2.5vh
            
            @include responsive(tab-port)
                width: 20vw
                
            @include responsive(tab-land)
                margin: 5vh 0
                width: 15vw
