.spacecards
    @include responsive(phone)
        display: flex
        flex-direction: column
        align-items: center
        
    @include responsive(tab-land)
        align-items: flex-start
        flex-flow: row wrap
        justify-content: center